@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
  --background-color: #252525;
  --input-color: #ffffff;
  --button-color: #ffffff;
  --text-alternate: #ffffff;
  --td-color: #F8F8F8;
  --x-color: #0185FF;
  --o-color: #FF0000;
  --score-color: #505050;
}

*{
  margin: 0;
  border: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: var(--background-color);
}

.container{
  display: flex;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}

.display{
  display: none;
}